.movie {
  margin: 0 2rem 2rem 2rem;
  width: 40%;
  background-color: white;
  padding: 2rem;
  float: left;
  box-shadow: 1rem 1rem 2rem -1rem;
  border-radius: 0.5rem;
  border-color: whitesmoke;
}
img {
  max-width: 100%;
  height: auto;
}
.poster {
  float: left;
  margin: 0.5rem 0.2rem;
  padding-right: 0.5rem;
  box-shadow: -1rem 1rem 1rem -1rem;
}
.movie__data {
  padding-left: 1rem;
  width: 100% !important;
}
.movie__title {
  font-size: 1.4rem;
  text-decoration: none;
}
.middle {
  overflow: hidden;
}
.movie__rating {
  float: right;
  margin-top: 0;
  margin-right: 2rem;
}
.movie__genres {
  font-size: 0.8rem;
  list-style: none;
  padding-left: 0;
  margin-top: 0;
}
.genres__genre {
  float: left;
  margin: 0 0 0 0.5rem;
}

.movie__summary {
  font-size: 1rem;
}
